# data & temp
data/exposures
data/reports
data/temp
data/unu
climada_unu.db
src/temp

# frontend
node_modules
build
dist

# backend
__pycache__

# logs
logs/

# environment
climada_env
climada_env_min
climada_env_test

# python
*.pyc
__pycache_

# database
*.sqlite3
*.db

# documentation
docs/_build

# development
test
test.ipynb
changelog_generator.py
translation_validation.log
scripts
notes.txt
